@media only screen and (max-width: $tablet) {
    .stepper-logo-section .stepper-action-ui {
        max-width: 100% !important;
    }

    .stepper-warper {
        grid-gap: 60px;
    }

    .steps-wrap:first-child {
        &::after {
            width: calc(90px * 3);
        }
    }

    @keyframes trans {
        0% {
            width: calc(90px * 0);
        }

        100% {
            width: calc(90px * 3);
        }
    }
}