// Breakpoints
$tablet: 768px;
$mobile: 425px;


 // color variable
$backgroundColor:#ffffff;
$theme-color: #5A4AD1;
$label-color: rgb(91, 88, 88);
$text-color: rgb(28, 28, 28);
$border-color:#e5e4e4c0;

