//fourth
.form-fourth {
    .form-heading-icon {
        margin: 20px auto;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .form-completion-section {
        width: 350px;
        margin: 30px auto;
    }
}